body,
html {
  height: 100%;
  margin: 0; }

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.site-content {
  flex: 1; }

.navbar {
  width: auto;
  height: 50px;
  background: #757d81;
  border-bottom: 1px solid ivory; }
  .navbar ul {
    margin: 0;
    padding: 12px; }
  .navbar li {
    display: inline-block;
    float: right;
    font-size: 1.2em;
    color: ivory;
    margin: 0 20px; }

.name-section {
  display: flex;
  background: #757d81;
  height: 600px;
  width: 100%;
  padding: -10px; }
  .name-section .name-container {
    margin: auto; }
    .name-section .name-container h1 {
      font-size: 3em;
      color: ivory; }

.work-section {
  height: auto;
  overflow: hidden;
  color: ivory; }
  .work-section h1 {
    text-align: center;
    font-size: 3em;
    color: #757d81; }
  .work-section .work-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: auto; }
    .work-section .work-items .work-item {
      height: 500px;
      width: 700px;
      margin: 10px;
      border: 1px solid black; }
      .work-section .work-items .work-item h2 {
        text-align: center; }
      .work-section .work-items .work-item img {
        height: 450px;
        width: 100%; }
        .work-section .work-items .work-item img:hover {
          opacity: 0.6; }
      .work-section .work-items .work-item .buttons {
        position: relative;
        padding-bottom: 20px;
        text-align: center; }
      .work-section .work-items .work-item .padder {
        padding-top: 40px; }
      .work-section .work-items .work-item a {
        width: 200px;
        padding: 5px 10px;
        border: 2px solid black;
        border-radius: 10%;
        text-decoration: none;
        background: ivory;
        color: black;
        font-size: 1.2em;
        font-weight: bold; }
        .work-section .work-items .work-item a:hover {
          background: #757d81;
          color: ivory; }
    .work-section .work-items .sliderGroup {
      transition: all 0.5s;
      transform: scale(0.1);
      opacity: 0; }
    .work-section .work-items .sliderGroup.active {
      opacity: 1;
      transform: scale(1);
      margin-bottom: 20px; }
      .work-section .work-items .sliderGroup.active h2 {
        color: black; }

.about-section {
  background-color: #757d81;
  height: 500px; }
  .about-section h1 {
    text-align: center;
    font-size: 3em;
    color: ivory; }
  .about-section .profile-image {
    display: flex; }
    .about-section .profile-image img {
      width: 250px;
      height: 250px;
      border-radius: 10%;
      margin-left: auto;
      margin-right: auto; }

.skills-section {
  height: auto;
  background-color: ivory; }
  .skills-section h1 {
    text-align: center;
    font-size: 3em;
    color: #757d81; }
  .skills-section .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 80%; }
    .skills-section .skills img {
      height: 70px;
      width: 70px; }

/*# sourceMappingURL=main.css.map */
