/*
  ========================
  Variables
  ========================
*/
$blu: #00416a;
$chalk: #e4e5e6;
$medium: 770px;
$ubuntu: "Ubuntu", sans-serif;

/*
  ========================
  Main Page Styling
  ========================
*/

body,
html {
  height: 100%;
  margin: 0;
}

/*
  ========================
  Navbar
  ========================
*/

.navbar {
  width: auto;
  height: 50px;
  background: $blu;
  border-bottom: 1px solid $chalk;

  ul {
    margin: 0;
    padding: 12px;
  }

  li {
    display: inline-block;
    float: right;
    font-size: 1.2em;
    font-family: $ubuntu;
    color: $chalk;
    margin: 0 20px;

    &:hover {
      color: darken($chalk, 20%);
    }
  }
}

/*
  ========================
  Name Section
  ========================
*/

.name-section {
  display: flex;
  background: $blu;
  height: 100vh;
  width: 100%;
  padding: -10px;

  .name-container {
    margin: auto;
    text-align: center;

    h1 {
      font-size: 4em;
      font-family: $ubuntu;
      color: $chalk;
    }

    p {
      font-size: 1.5em;
      font-family: $ubuntu;
      color: $chalk;
    }
  }
}

/*
  ========================
  Projects Section
  ========================
*/

.work-section {
  height: auto;
  width: auto;

  h1 {
    text-align: center;
    font-size: 3em;
    font-family: $ubuntu;
    color: $blu;
  }

  .work-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: auto;
    .work-item {
      height: auto;
      width: 700px;
      margin: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      transition: all 0.3s ease-in-out;

      h2 {
        text-align: center;
        font-family: $ubuntu;
        color: $blu;
      }

      p {
        font-family: $ubuntu;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        height: 450px;
        width: 100%;
        padding-bottom: 50px;

        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
      #pomo-style {
        display: block;
        margin: auto;
        width: 50%;
      }

      .buttons {
        position: relative;
        padding-bottom: 20px;
        text-align: center;
      }

      a {
        width: 200px;
        padding: 5px 10px;
        border: 2px solid black;
        border-radius: 5%;
        text-decoration: none;
        color: $blu;
        font-size: 1.2em;
        font-weight: bold;
        font-family: $ubuntu;

        &:hover {
          background: $blu;
          color: white;
        }
      }

      // for mobile devices //
      @media (max-width: $medium) {
        width: auto;

        img {
          height: 380px;
        }
      }
    }

    .sliderGroup {
      transition: all 0.5s;
      transform: scale(0.1);
      opacity: 0;
    }

    .sliderGroup.active {
      opacity: 1;
      transform: scale(1);
      margin-bottom: 20px;

      &:hover {
        transform: scale(1.011);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

/*
  ========================
  About Section
  ========================
*/

.about-section {
  background-color: $blu;
  height: auto;

  h1 {
    padding-top: 25px;
    text-align: center;
    font-size: 3em;
    font-family: $ubuntu;
    color: $chalk;
  }

  p {
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    font-size: 1.2em;
    font-family: $ubuntu;
    color: $chalk;

    a {
      color: $chalk;
    }
  }

  .profile-image {
    display: flex;

    img {
      width: 225px;
      height: 250px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/*
  ========================
  Skills Section
  ========================
*/

.skills-section {
  height: auto;
  background-color: white;

  h1 {
    text-align: center;
    font-size: 3em;
    font-family: $ubuntu;
    color: $blu;
  }

  .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 95%;

    img {
      height: 70px;
      width: 70px;
      padding-bottom: 5px;
    }

    .skill-icons {
      padding: 11px;
      text-align: center;
      -webkit-transition: 1s ease-in-out;
      -moz-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out;
      transition: 1s ease-in-out;

      p {
        color: $blu;
        font-size: 1.3em;
        font-family: $ubuntu;
      }

      // Skill icons color change on hover //
      .fa-js:hover {
        color: #f0db4f;
      }

      .fa-react:hover {
        color: #61dafb;
      }

      .fa-node:hover {
        color: #8bc500;
      }

      .fa-html5:hover {
        color: #f16529;
      }

      .fa-css3-alt:hover {
        color: #379ad6;
      }

      .fa-sass:hover {
        color: #cd669a;
      }

      .fa-code-branch:hover {
        color: #f05033;
      }

      &:hover {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
      }
    }
  }
}

/*
  ========================
  Contact Section
  ========================
*/

.contact-section {
  height: auto;
  background-color: $blu;
  padding-bottom: 25px;
  text-align: center;

  h1 {
    text-align: center;
    font-size: 3em;
    font-family: $ubuntu;
    color: $chalk;
    padding-top: 25px;
  }

  p {
    color: white;
    font-family: $ubuntu;
  }

  .contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    .fa-github-alt,
    .fa-twitter,
    .fa-linkedin,
    .fa-envelope {
      color: white;
      padding: 15px;

      &:hover {
        color: $chalk;
      }
    }
  }
}
