$dark-purple: rgba(48, 43, 59, 0.89);
$peach: rgb(255, 182, 122);
$medium: 770px;

body,
html {
  height: 100%;
  margin: 0;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.navbar {
  width: auto;
  height: 50px;
  background: $dark-purple;
  border-bottom: 1px solid $peach;

  ul {
    margin: 0;
    padding: 12px;
  }

  li {
    display: inline-block;
    float: right;
    font-size: 1.2em;
    color: $peach;
    margin: 0 20px;
  }
}

.name-section {
  display: flex;
  background: $dark-purple;
  height: 600px;
  width: 100%;
  padding: -10px;

  .name-container {
    margin: auto;
    text-align: center;

    h1 {
      font-size: 4em;
      color: $peach;
    }

    p {
      font-size: 1.5em;
      color: $peach;
    }
  }
}

.work-section {
  height: auto;
  width: auto;

  h1 {
    text-align: center;
    font-size: 3em;
    color: $dark-purple;
  }

  .work-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: auto;

    .work-item {
      height: auto;
      width: 700px;
      margin: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      transition: all 0.3s ease-in-out;

      h2 {
        text-align: center;
        color: $dark-purple;
      }

      img {
        height: 450px;
        width: 100%;
        padding-bottom: 50px;

        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }

      .buttons {
        position: relative;
        padding-bottom: 20px;
        text-align: center;
      }

      .padder {
        padding-top: 40px;
      }

      a {
        width: 200px;
        padding: 5px 10px;
        border: 2px solid black;
        border-radius: 8%;
        text-decoration: none;
        color: $dark-purple;
        font-size: 1.2em;
        font-weight: bold;

        &:hover {
          background: $dark-purple;
          color: $peach;
        }
      }

      @media (max-width: $medium) {
        width: auto;
      }
    }

    .sliderGroup {
      transition: all 0.5s;
      transform: scale(0.1);
      opacity: 0;
    }

    .sliderGroup.active {
      opacity: 1;
      transform: scale(1);
      margin-bottom: 20px;

      &:hover {
        transform: scale(1.011);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.about-section {
  background-color: $dark-purple;
  height: 500px;

  h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(255, 182, 122);
  }

  .profile-image {
    display: flex;

    img {
      width: 225px;
      height: 250px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.skills-section {
  height: auto;
  background-color: white;

  h1 {
    text-align: center;
    font-size: 3em;
    color: $dark-purple;
  }

  .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 80%;

    img {
      height: 70px;
      width: 70px;
      padding-bottom: 5px;
    }

    .skill-icons {
      text-align: center;
      -webkit-transition: 1s ease-in-out;
      -moz-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out;
      transition: 1s ease-in-out;

      p {
        color: $dark-purple;
        font-size: 1.3em;
      }

      .fa-js:hover {
        color: #f0db4f;
      }

      .fa-react:hover {
        color: #61dafb;
      }

      .fa-node:hover {
        color: #8bc500;
      }

      .fa-html5:hover {
        color: #f16529;
      }

      .fa-css3-alt:hover {
        color: #379ad6;
      }

      .fa-sass:hover {
        color: #cd669a;
      }

      .fa-code-branch:hover {
        color: #f05033;
      }

      &:hover {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
      }
    }
  }
}

.contact-section {
  height: auto;
  background-color: $dark-purple;
  padding-bottom: 25px;

  h1 {
    text-align: center;
    font-size: 3em;
    color: $peach;
    padding-top: 25px;
  }

  .contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    .fa-github-alt,
    .fa-linkedin,
    .fa-envelope {
      color: white;
      padding: 15px;

      &:hover {
        color: $peach;
      }
    }
  }
}
