body,
html {
  height: 100%;
  margin: 0;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.navbar {
  width: auto;
  height: 50px;
  background: rgb(117, 125, 129);
  border-bottom: 1px solid rgb(255, 255, 240);

  ul {
    margin: 0;
    padding: 12px;
  }

  li {
    display: inline-block;
    float: right;
    font-size: 1.2em;
    color: rgb(255, 255, 240);
    margin: 0 20px;
  }
}

.name-section {
  display: flex;
  background: rgb(117, 125, 129);
  height: 600px;
  width: 100%;
  padding: -10px;

  .name-container {
    margin: auto;

    h1 {
      font-size: 3em;
      color: rgb(255, 255, 240);
    }
  }
}

.work-section {
  height: auto;
  overflow: hidden;
  color: rgb(255, 255, 240);

  h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(117, 125, 129);
  }

  .work-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: auto;

    .work-item {
      height: 500px;
      width: 700px;
      margin: 10px;
      border: 1px solid black;

      h2 {
        text-align: center;
      }

      img {
        height: 450px;
        width: 100%;

        &:hover {
          opacity: 0.6;
        }
      }

      .buttons {
        position: relative;
        padding-bottom: 20px;
        text-align: center;
      }

      .padder {
        padding-top: 40px;
      }

      a {
        width: 200px;
        padding: 5px 10px;
        border: 2px solid black;
        border-radius: 10%;
        text-decoration: none;
        background: rgb(255, 255, 240);
        color: black;
        font-size: 1.2em;
        font-weight: bold;

        &:hover {
          background: rgb(117, 125, 129);
          color: rgb(255, 255, 240);
        }
      }
    }

    .sliderGroup {
      transition: all 0.5s;
      transform: scale(0.1);
      opacity: 0;
    }

    .sliderGroup.active {
      opacity: 1;
      transform: scale(1);
      margin-bottom: 20px;
      h2 {
        color: black;
      }
    }
  }
}

.about-section {
  background-color: rgb(117, 125, 129);
  height: 500px;

  h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(255, 255, 240);
  }

  .profile-image {
    display: flex;

    img {
      width: 250px;
      height: 250px;
      border-radius: 10%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.skills-section {
  height: auto;
  background-color: rgb(255, 255, 240);

  h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(117, 125, 129);
  }

  .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 80%;

    img {
      height: 70px;
      width: 70px;
    }
  }
}
